{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }} - {{ .Params.cohort }}</h1>

  <span class="post-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</span>
  <div class="background-highlight">
    {{ with .Params.installers }}

      {{ range $installers := $.Params.installers }}
      <a href="{{ $installers.url }}"><i class="fab fa-{{ $installers.icon }} fa-2x fa-fw"></i> {{ $installers.platform}}</a><br>
      {{ end }}
    {{ end }}
  </div>

  {{ .Content }}

</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}