<div class="posts">
<h2>Third-Party Viewers</h2>
Many Second Life developers, outside of Linden Lab, offer customized Second Life viewers. Please note that Linden Lab does not support third-party viewers.<br>
<br>
See the <a href="http://wiki.secondlife.com/wiki/Third_Party_Viewer_Directory" target="_blank">Third Party Viewer Directory</a> for a listing of third-party viewers created by developers who have certified that they comply with the <a href="http://secondlife.com/corporate/tpv.php"  target="_blank">Policy on Third Party Viewers</a>.<br>
<br>
Detailed information about many viewers in the Third Party Viewer Directory may be found in the Resident-maintained <a href="http://wiki.secondlife.com/wiki/Downloads#non-linden" target="_blank">Downloads</a> wiki article.
<p>
</div>