<div class="posts">
<h1>Alternate Viewers</h1>
<h2>What is an alternate viewer</h2>
<p>The primary viewer for Second Life is the official Second Life Viewer, available on the main <a href="http://secondlife.com/support/downloads/">Second Life Downloads</a> page.<br>
<br>
The viewers below provide early access to fixes and newer features, but may also entail some additional risk of new bugs; we appreciate your help with our efforts to improve Second Life by using them and reporting any problems you find.<br>
<br>
Warning: These viewers are not appropriate for installation on systems whose normal users do not have the privileges required to install updates. These viewers are made available early to test them prior to general release. Therefore it's important that we be able to fix any problems with them quickly and get data on only the latest set of changes. For that reason, any update to these viewers is mandatory.
</div>