{{ define "main" -}}

{{ partial "top.html" . }}

{{ with $.Site.Params.viewers}}

  {{ with $.Site.Params.viewers.rcviewers }}
    <hr>
    <div class="posts">
      <h2>Release Candidates</h2>
      Release Candidate viewers are being evaluated to be the next default download; all are believed to be stable.
      <div class="viewer-listing">
        <ul>
        {{ range $viewer := $.Site.Params.viewers.rcviewers }}
          <li><a href="{{ .more_info }}">{{ .name }} - {{ .version }}</a></li>
        {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}

  {{ with $.Site.Params.viewers.projectviewers }}
  <hr>

  <div class="posts">
    <h2>Project Viewers</h2>
    Project Viewers are experimental viewers ; they may not be beta quality - use at your own risk.
    <div class="viewer-listing">
      <ul>
        {{ range $viewer := $.Site.Params.viewers.projectviewers }}
          <li> <a href="{{ .more_info }}">{{ .name }} - {{ .version }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}

  {{ with $.Site.Params.viewers.betaviewers }}
  <hr>

  <div class="posts">
    <h2>Beta Viewers</h2>
    Beta viewers are made available for pre-release testing. While they are generally believed to be safe to use, they may have some incomplete features and unresolved bugs.
    <div class="viewer-listing">
      <ul>
        {{ range $viewer := $.Site.Params.viewers.betaviewers }}
          <li> <a href="{{ .more_info }}">{{ .name }} - {{ .version }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}

  {{ with $.Site.Params.viewers.obsoleteviewers }}
  <hr>

  <div class="posts">
    <h2>Obsolete Viewers</h2>

    {{ range $viewer := $.Site.Params.viewers.obsoleteviewers }}
      <div class="viewer-listing">
        {{ .text }}<br>
        <ul>
          <li><a href="{{ .more_info }}">{{ .name }} - {{ .version }}</a></li>
        </ul>
      </div>
    {{ end }}
  </div>
{{ end }}
<hr>
{{ end }}
{{ partial "bottom.html" .}}

{{- end }}