{{ define "main" -}}

{{ partial "top.html" . }}
<hr>
<div class="posts">

  <h2>Release Candidates</h2>
  Release Candidate viewers are being evaluated to be the next default download; all are believed to be stable.

  <div class="viewer-listing">
    <ul>
    {{ range $viewer := $.Site.Params.rcviewers }}
      <li><a href="{{ .version }}">{{ .name }} - {{ .version }}</a></li>
    {{ end }}
    </ul>
  </div>
</div>

<hr>

<div class="posts">
  <h2>Project Viewers</h2>
  Project Viewers are experimental viewers ; they may not be beta quality - use at your own risk.

  <div class="viewer-listing">
    <ul>
      {{ range $viewer := $.Site.Params.projectviewers }}
        <li> <a href="{{ .version }}">{{ .name }} - {{ .version }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>

<hr>

<div class="posts">
  <h2>Obsolete Viewers</h2>

  {{ range $viewer := $.Site.Params.obsoleteviewers }}
    <div class="viewer-listing">
      {{ .text }}<br>
      <ul>
        <li><a href="{{ .version }}">{{ .name }} - {{ .version }}</a></li>
      </ul>
    </div>
  {{ end }}
</div>

<hr>
{{ partial "bottom.html" .}}

{{- end }}